/* work sense font from google font */
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Roboto:wght@100&family=Work+Sans:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;1,500&display=swap');

*{
    font-family: 'Lato', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-family: 'Work Sans', sans-serif;
}

.section-title{
    color:  #131313;
    font-size: 2.8rem;
    font-weight: 700;
    margin: 0;
    padding-bottom: 20px;
}
.gray-text{
    color: #727272;
    font-size: 16px;
    font-weight: 400;
}
/* header style */
.btn-primary{
    border-radius: 8px;
    background: #FF900E;
    padding: 20px 25px;
    font-size: 1.25rem;
    color: beige;
    cursor: pointer;
    border: 0;
}

header{
    background: rgba(255, 144, 14, 0.10);
    padding: 50px 240px;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav>ul{
    display: flex;
}
nav a{
    list-style: none;
    margin-right: 30px;
    font-weight: 500;
    font-size: 20px;
    text-decoration: none;
    color: #424242;
}
/* banner style */
.banner-content{
    max-width: 800px;
    text-align: center;
    margin: 0 auto;
}
.banner-head{
    color: #131313;
    font-size: 4rem;
    font-weight: 700;
}
.banner-description{
    color: #727272;
    font-size: 16px;
    font-weight: 400;
}

.banner-img{
    margin-top: 20px;
    width: 100%
}
/* main styles */
main{
    max-width: 1440px;
    margin: 70px auto;

}
/* team */

.team{
    display: flex;
    align-items: center;
    margin: 50px;
}
.team-img{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5rem;
}
.team-content{
    padding-left: 70px;
    padding-right: 70px;
}

.team-content-header{
    font-size: 60px;
}
.quick{
    color: #727272;
    font-weight: 500;
}
.bold{
    color: #131313;
    font-weight: 700;
}
.orange{
    color: #FF900E;
    font-weight: 700;
}
.team-content-description{
    color: #727272;
    font-size: 20px;
    font-weight: 400;
    padding-bottom: 25px;
}
.section-description{
    color: #727272;
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 70px;
}
.fact{
    margin-top: 100px;
    margin-left: 50px;
    margin-right: 50px;
}

.fact-card-container{
    display: flex;
    justify-content: space-around;
}
.fact-card-container .card{
    border-radius: 8px;
    border: 1px solid #FF900E;
    text-align: center;
    padding: 30px;
}

.fact-card-container .card-title{
    font-weight: 600;
    font-size: 1.25rem;
    color: #727272;
    margin-top: 5px;
    
}
.fact-card-container .card-stat{
    font-size: 2.8rem;
    color: #424242;
    margin-top: 10px;
    margin-bottom: 10px;
}
/* sponsor section */

.sponsor{
    text-align: center;
    margin-top: 100px;
    margin-left: 50px;
    margin-right: 50px;

}
.sponsor-title{
    color: #131313;
    font-size: 45px;
    font-weight: 700;
}
.sponsor-img-container{
    margin-top: 50px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 30px;
    margin-left: 100px;
    margin-right: 100px;
}
.sponsor-img-container img{
    width: 120px;
}
/* feature section */
.feature{
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 130px;
    margin-top: 200px;
    margin-left: 50px;
    margin-right: 50px;
}
.feature-content-head{
    color: #131313;
    font-size: 45px;
    font-weight: 700;
    border-left: 5px solid #FF900E;
    padding-left: 20px;
}

.feature-content .feature-box{
    padding: 30px;
    margin-bottom: 20px;
    border-radius: 8px;
    background: #FFF;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.06);
}
.box-head{
    color:#131313;
    font-size: 20px;
    font-weight: 600;
}
.feature-img img{
    /* width: 708px; */
    height: 100%;
    margin-left: 50px;
}
.ten-years{
    border-radius: 8px;
    background: #FF900E;
    width: 230px;
    height: 100px;
    padding: 40px;
    position: relative;
    bottom: 100px;
}
.ten-years h2{
    color: #FFF;
    text-align: center;
    font-size: 55px;
    font-weight: 700;
    margin: 0;
}
.ten-years p{
    color: #FFF;
    text-align: center;
    font-size: 25px;
    font-weight: 500;
    margin: 0;
}
.foot{
    color: #424242;
    text-align: center;
    font-size: 20px;
    font-weight: 400;
    padding: 40px;
}

/* Responsive style */
@media screen and (max-width: 576px) {
    header{
        padding: 20px;
    }
    nav, 
    .fact-card-container, 
    .feature{
        flex-direction: column;
    }
    .feature-img img{
        width: 100%;
        margin-left: 0;
    }

    .ten-years{
        position: static;
        max-width: 300px;
    }
    .team{
        flex-direction: column-reverse;
    }
    .team-img{
        padding-top: 50px;
        grid-template-columns: 1fr;
    }
    .team-content,
    .fact-card-container{
        padding-left: 20px;
        padding-right: 20px;
    }
    .fact-card-container{
        gap: 20px;
    }
    .sponsor{
        margin-top: 70px;
    }
    .sponsor-img-container{
        align-items: center;
        margin-left: 10px;
    }
    .sponsor-img-container img{
        width: 50px;
    }
    .foot{
        font-size: 15px;
        align-items: center;
    }
}


@media screen and (min-width: 576px) and (max-width: 960px) {
    header{
        padding: 50px;
    }

    nav, .feature{
        flex-direction: column;
    }
    .team{
        flex-direction: column-reverse;
    }
    .fact-card-container{
        gap: 20px;
    }
    .team-img{
        padding-top: 50px;
    }
    .team-content{
        padding-left: 100px;
        padding-right: 100px;
        text-align: center;
    }
    .foot{
        font-size: 15px;
    }
}