/* work sense font from google font */
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Roboto:wght@100&family=Work+Sans:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;1,500&display=swap');

*{
    font-family: 'Lato', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-family: 'Work Sans', sans-serif;
}
/* header style */
.btn-primary{
    border-radius: 8px;
    background: #FF900E;
    padding: 20px 25px;
    font-size: 1.25rem;
    color: beige;
    cursor: pointer;
    border: 0;
}

header{
    background: rgba(255, 144, 14, 0.10);
    padding: 50px 240px;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-title{
    color:  #131313;
    font-size: 2.8rem;
    font-weight: 700;
}
nav>ul{
    display: flex;
}
nav a{
    list-style: none;
    margin-right: 30px;
    font-weight: 500;
    font-size: 1rem;
    text-decoration: none;
    color: #424242;
}
/* banner style */
.banner-content{
    max-width: 800px;
    text-align: center;
    margin: 0 auto;
}
.banner-head{
    color: #131313;
    font-size: 4rem;
    font-weight: 700;
}
.banner-description{
    color: #727272;
    font-size: 16px;
    font-weight: 400;
}

.banner-img{
    margin-top: 20px;
    width: 100%
}
/* main styles */
main{
    max-width: 1440px;
    margin: 70px auto;

}
/* team */

.team{
    display: flex;
    align-items: center;
}
.team-img{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5rem;
}
.team-content{
    padding-left: 70px;
    padding-right: 70px;
}

.team-content-header{
    font-size: 60px;
}
.quick{
    color: #727272;
    font-weight: 500;
}
.bold{
    color: #131313;
    font-weight: 700;
}
.orange{
    color: #FF900E;
    font-weight: 700;
}
.team-content-description{
    color: #727272;
    font-size: 20px;
    font-weight: 400;
    padding-bottom: 25px;
}

/* Responsive style */
@media screen and (max-width: 576px) {
    header{
        padding: 20px;
    }
    nav{
        flex-direction: column;
    }
    .team{
        flex-direction: column-reverse;
    }
    .team-img{
        padding-top: 50px;
        grid-template-columns: 1fr;
    }
    .team-content{
        padding-left: 20px;
        padding-right: 20px;
    }
}


@media screen and (min-width: 576px) and (max-width: 960px) {
    header{
        padding: 50px;
    }

    nav{
        flex-direction: column;
    }
    .team{
        flex-direction: column-reverse;
    }
    .team-img{
        padding-top: 50px;
    }
    .team-content{
        padding-left: 100px;
        padding-right: 100px;
        text-align: center;
    }
}